# Sensitive keys (CRITICAL to ignore)
.env
serviceAccountKey.json

# Python virtual environment
ai_sprint_env/
env/
venv/
ENV/

# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Editor settings
.vscode/
.idea/